<template>
  <main class="container is-fluid" :style="style">
    <section class="section">
      <div class="container">
        <div class="tile is-parent is-12">
          <div class="tile is-child is-4"></div>
          <div class="tile is-child is-4">
            <div class="is-parent is-vertical is-12">
              <div class="is-child is-12">
                <div class="content is-12">
                  <div class="title is-2 has-text-centered">
                    <span class="is-capitalized">please sign in...</span>
                  </div>
                </div>
              </div>
              <div style="height: 50px;"></div>
              <div class="is-child is-12">
                <div class="content">
                  <div class="box">
                    <signin-form></signin-form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tile is-child is-4"></div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import SigninForm from '~/components/sign-in/SigninForm.vue';

export default {
  name: 'SigninMain',
  components: {
    SigninForm
  },
  data() {
    return {
      style: { minHeight: '700px' }
    };
  }
};
</script>

<style>
</style>
