<template>
  <form @submit.prevent="onSignin" @reset="onDiscardSignin">
    <div class="tile is-parent is-vertical is-12">
      <div class="tile is-child is-12">
        <b-field label="Username">
          <b-input icon="at" rounded @input="onUsernameInput"></b-input>
        </b-field>
      </div>
      <div class="tile is-child is-12">
        <b-field label="Password">
          <b-input
            icon="textbox-password"
            type="password"
            password-reveal
            rounded
            @input="onPasswordInput"
          ></b-input>
        </b-field>
      </div>
      <div class="tile is-child is-12">
        <b-field>
          <button type="submit" class="button is-success is-large is-fullwidth">
            <b-icon icon="login-variant" size="is-medium"></b-icon>&nbsp;
            <span>sign in</span>
          </button>
        </b-field>
      </div>
      <div class="tile is-child is-12"></div>
    </div>
  </form>
</template>

<script>
import routes from '~/config/routes';
import httpStatus from 'http-status';

export default {
  name: 'SigninForm',
  data() {
    return {
      signin: {
        username: null,
        password: null
      }
    };
  },
  computed: {},
  methods: {
    onUsernameInput(username) {
      this.signin.username = username;
    },
    onPasswordInput(password) {
      this.signin.password = password;
    },
    async onSignin() {
      let loginPayload = {
        data: {}
      };

      loginPayload.data.username = this.signin.username;
      loginPayload.data.password = this.signin.password;

      await this.$store
        .dispatch('login', loginPayload)
        .then(() => {
          let loggedUser = this.$store.getters.loggedUser;

          if (loggedUser) {
            window.localStorage.setItem(
              'loggedUser',
              JSON.stringify(loggedUser)
            );
            this.$store.commit('SET_USERLOGGEDIN', true);
            this.$store.commit('SET_ACCESSTOKEN', loggedUser.data.token);
            return this.$router.push({ path: routes.GET_TABLE });
          } else {
            return this.router.replace({ path: this.$route.fullPath });
          }
        })
        .catch(error => {
          let { response } = error;

          if (response) {
            switch (response.status) {
              case httpStatus.UNAUTHORIZED:
                this.$snackbar.open({
                  duration: 1000,
                  position: 'is-bottom-left',
                  type: 'is-danger',
                  message: `${response.data.message}`
                });
                break;
              case httpStatus.INTERNAL_SERVER_ERROR:
                this.$snackbar.open({
                  duration: 1000,
                  position: 'is-bottom-left',
                  type: 'is-danger',
                  message: `${response.data.message}`
                });
                break;
            }
          }
        });
    },
    onDiscardSignin() {
      this.signin.username = null;
      this.signin.password = null;
    }
  }
};
</script>

<style>
</style>
