<template>
  <div>
    <signin-header></signin-header>
    <signin-main></signin-main>
    <signin-footer></signin-footer>
  </div>
</template>

<script>
import SigninHeader from '~/components/sign-in/SigninHeader.vue';
import SigninMain from '~/components/sign-in/SigninMain.vue';
import SigninFooter from '~/components/sign-in/SigninFooter.vue';

export default {
  name: 'SigninApp',
  components: {
    SigninHeader,
    SigninMain,
    SigninFooter
  }
};
</script>

<style>
</style>
