<template>
  <app-footer></app-footer>
</template>

<script>
import AppFooter from '~/components/app/AppFooter.vue';

export default {
  name: 'SigninFooter',
  components: {
    AppFooter
  }
};
</script>

<style>
</style>
