<template>
  <nav class="navbar has-background-info" role="navigation" aria-label="main navigation">
    <div class="container is-fluid">
      <div class="navbar-brand">
        <a class="navbar-item" @click.stop="onGoHome">
          <img
            src="https://minex360.com/static/media/minex-logo.d7d5ce0e.svg"
            width="112"
            height="28"
          >
        </a>
        <a
          role="button"
          :class="navbarBurgerClass"
          aria-label="menu"
          aria-expanded="false"
          data-target="mobileNavigationDrawer"
          @click="onClickNavbarBurger"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="mobileNavigationDrawer" :class="navbarBurgerMenuClass">
        <div class="navbar-start">
          <a role="button" @click.stop="onGoHome" class="navbar-item">
            <span class="has-text-black is-uppercase">SMARTSAPP FILTER SERVICES</span>
          </a>
        </div>

        <div class="navbar-end"></div>
      </div>
    </div>
  </nav>
</template>

<script>
import routes from '~/config/routes';

export default {
  name: 'SigninHeader',
  data() {
    return {
      navbarBurgerClass: ['navbar-burger', 'burger'],
      navbarBurgerMenuClass: ['navbar-menu'],
      isNavbarBurgerClicked: false
    };
  },
  methods: {
    onClickNavbarBurger() {
      let className = 'is-active';

      this.isNavbarBurgerClicked = !this.isNavbarBurgerClicked;

      if (this.isNavbarBurgerClicked) {
        this.navbarBurgerClass.push(className);
        this.navbarBurgerMenuClass.push(className);
      } else {
        this.navbarBurgerClass.pop();
        this.navbarBurgerMenuClass.pop();
      }
    },
    onGoHome() {
      return this.$router.replace({ path: routes.GET_TABLE });
    }
  }
};
</script>

<style>
</style>
