<template>
  <div v-if="getTable" class="tile is-ancestor is-12">
    <search-students-table-form v-if="getTable && getTable.data.table === tables.STUDENTS"></search-students-table-form>
    <search-parents-table-form v-if="getTable && getTable.data.table === tables.PARENTS"></search-parents-table-form>
  </div>
</template>

<script>
import SearchStudentsTableForm from '~/components/search-table/SearchStudentsTableForm.vue';
import SearchParentsTableForm from '~/components/search-table/SearchParentsTableForm.vue';

import { TABLES } from '~/config/config';

export default {
  name: 'SearchTableForm',
  components: {
    SearchStudentsTableForm,
    SearchParentsTableForm
  },
  data() {
    return {
      tables: TABLES
    };
  },
  computed: {
    getTable() {
      return this.$store.getters.getTable;
    }
  },
  methods: {}
};
</script>

<style>
</style>
