<template>
  <div class="container is-fluid">
    <search-table-form-section></search-table-form-section>
    <search-table-results-section></search-table-results-section>
  </div>
</template>

<script>
import SearchTableFormSection from '~/components/search-table/SearchTableFormSection.vue';
import SearchTableResultsSection from '~/components/search-table/SearchTableResultsSection.vue';

export default {
  name: 'SearchTableApp',
  components: {
    SearchTableFormSection,
    SearchTableResultsSection
  }
};
</script>

<style>
</style>
