<template>
  <article>
    <div class="tile is-ancestor" style="height: inherit" v-show="searchResults.length">
      <div class="tile is-parent is-12">
        <div class="tile is-child is-12">
          <div class="content has-text-centered">
            <div class="title is-3">{{ removeSchema(searchTable.data.table) }}</div>
            <div class="subtitle is-6">{{ heading }}</div>
          </div>
        </div>
      </div>
    </div>

    <div style="height: 20px;"></div>

    <form @submit.prevent="onDeleteRows" @reset="onDiscardDeleteRows">
      <div class="tile is-ancestor is-12">
        <div class="tile is-parent is-vertical is-12">
          <div class="tile is-child is-12 control" style="overflow: auto">
            <b-table
              :data="searchResults"
              :checked-rows.sync="chosenRows"
              :per-page="rowsPerPage"
              :paginated="searchResults.length > rowsPerPage"
              :loading="!searchTable"
              mobile-cards
              checkable
              hoverable
              pagination-simple
            >
              <template slot-scope="results">
                <template v-for="(attribute, index) of Object.keys(filteredTableAttributes)">
                  <b-table-column
                    v-if="filteredTableAttributes[attribute]"
                    :key="index"
                    :field="attribute"
                    :label="headers ? headers[attribute] : ''"
                    sortable
                  >{{ results.row.result[attribute] }}</b-table-column>
                </template>
              </template>

              <template slot="empty">
                <div class="tile is-parent is-12">
                  <div class="tile is-child is-12 has-text-centered subtitle is-size-4">
                    <div>
                      <b-icon icon="flask-empty-outline" size="is-large"></b-icon>
                    </div>
                    <div>No Results Found</div>
                  </div>
                </div>
              </template>
            </b-table>
          </div>

          <div tile="tile is-child is-12" style="height: 30px;"></div>

          <div class="tile is-child is-12" v-show="searchResults.length">
            <button type="submit" class="button is-fullwidth is-black is-medium">
              <span>
                <b-icon icon="wrench" size="is-small"></b-icon>
                <span class="is-size-5">clear</span>
              </span>
            </button>
          </div>
          <div class="tile is-child is-12" v-show="searchResults.length">
            <button type="reset" class="button is-fullwidth is-danger is-medium">
              <span>
                <b-icon icon="delete" size="is-small"></b-icon>
                <span class="is-size-5">discard</span>
              </span>
            </button>
          </div>
        </div>
      </div>
    </form>
  </article>
</template>

<script>
import { batchCollection, removeSchema } from '~/utils/utils';
import { TABLE_FORMS, TABLE_HEADERS } from '~/config/config';

import routes from '~/config/routes';

export default {
  name: 'SearchTableRowsToDeleteForm',
  computed: {
    searchTable() {
      return this.$store.getters.searchTable;
    },
    filteredTableAttributes() {
      return this.$store.getters.filteredTableAttributes || [];
    },
    searchResults() {
      return this.getSearchResults();
    },
    headers() {
      return this.getHeaders();
    }
  },
  data() {
    return {
      heading: 'What entries should go? Please select.',
      chosenRows: [],
      rowsPerPage: 10
    };
  },
  methods: {
    getHeaders() {
      return TABLE_HEADERS[this.$store.getters.searchTable.data.table] || {};
    },
    getSearchResults() {
      return this.$store.getters.searchTable.data.results || [];
    },
    removeSchema(table) {
      return removeSchema(table);
    },
    async onDeleteRows() {
      let searchTable = this.$store.getters.searchTable;

      let searchTablePayload = {
        data: {
          table: searchTable.data.table,
          data: searchTable.data.data || {},
          fields: searchTable.data.fields || ''
        }
      };

      let deleteRowsPayload = {
        data: Object.assign({}, searchTablePayload.data)
      };

      if (this.chosenRows && this.chosenRows.length) {
        this.$dialog.confirm({
          title: `${searchTable.data.table}`,
          message:
            'Are you sure you want to <b>delete</b> the row(s)?<br>This action cannot be undone.',
          confirmText: 'delete',
          type: 'is-danger',
          hasIcon: true,
          onConfirm: async () => {
            deleteRowsPayload.data.rows_to_delete = this.chosenRows
              .slice()
              .map(row => row.result);

            await this.$store
              .dispatch('deleteRows', deleteRowsPayload)
              .then(async () => {
                let deleteRows = this.$store.getters.deleteRows;

                if (deleteRows) {
                  this.$snackbar.open({
                    duration: 1000,
                    message: `${this.chosenRows.length} rows removed`,
                    type: 'is-success'
                  });

                  await this.$store
                    .dispatch('searchTable', searchTablePayload)
                    .catch(error => console.error(error));
                } else {
                  this.$snackbar.open({
                    duration: 1000,
                    message: `${this.chosenRows.length} rows not removed`,
                    type: 'is-info'
                  });
                }
              })
              .catch(error => {
                console.error(error);

                let { response } = error;

                if (response) {
                  switch (response.status) {
                    case httpStatus.BAD_REQUEST:
                    case httpStatus.UNAUTHORIZED:
                    case httpStatus.INTERNAL_SERVER_ERROR:
                      this.$snackbar.open({
                        duration: 1000,
                        type: 'is-danger',
                        position: 'is-bottom-right',
                        message: `${response.data.data.message}`
                      });
                      break;
                  }
                }
              });
          }
        });
      }
    },
    onDiscardDeleteRows() {
      this.chosenRows = [];
    }
  }
};
</script>

<style>
</style>
