<template>
  <results-placeholder icon="flask-empty-outline">No Query Submitted</results-placeholder>
</template>

<script>
import ResultsPlaceholder from '~/components/common/ResultsPlaceholder.vue';

export default {
  name: 'SearchTableResultsPlaceholder',
  components: {
    ResultsPlaceholder
  }
};
</script>

<style>
</style>
