<template>
  <section class="section">
    <div class="container">
      <div class="tile is-ancestor is-12">
        <search-table-results></search-table-results>
      </div>
    </div>
  </section>
</template>

<script>
import SearchTableResults from '~/components/search-table/SearchTableResults.vue';

export default {
  name: 'SearchTableResultsSection',
  components: {
    SearchTableResults
  }
};
</script>

<style>
</style>
