<template>
  <div class="tile is-parent is-vertical is-12">
    <div class="tile is-child is-12">
      <div class="has-text-centered is-size-1 has-text-black">
        <span class="is-lowercase">search parents...</span>
      </div>
    </div>
    <div class="tile is-child is-12" v-if="!getTable">
      <div class="has-text-centered is-fullwidth">
        <span class="is-large">Loading...</span>
      </div>
    </div>
    <div class="tile is-child is-12" v-else>
      <form @submit.prevent="onSearchParents" @reset="onDiscardParentsSearch">
        <div class="tile is-parent is-vertical is-12">
          <div
            v-for="(attribute, index) of Object.keys(tableAttributes)"
            :key="index"
            class="tile is-child is-12"
            v-show="tableAttributes[attribute]"
          >
            <b-field
              v-if="attribute === 'first_name' && tableAttributes[attribute]"
              label="First Name"
            >
              <b-input @input="onFirstnameInput"></b-input>
            </b-field>
            <b-field
              v-if="attribute === 'last_name' && tableAttributes[attribute]"
              label="Last Name"
            >
              <b-input @input="onLastnameInput"></b-input>
            </b-field>
            <b-field
              v-if="attribute === 'other_names' && tableAttributes[attribute]"
              label="Other Names"
            >
              <b-input @input="onOthernamesInput"></b-input>
            </b-field>
            <b-field
              v-if="attribute === 'primary_contact' && tableAttributes[attribute]"
              label="Primary Contact"
            >
              <b-input @input="onPrimaryContactInput"></b-input>
            </b-field>
            <b-field
              v-if="attribute === 'secondary_contact' && tableAttributes[attribute]"
              label="Secondary Contact"
            >
              <b-input @input="onSecondaryContactInput"></b-input>
            </b-field>
            <b-field v-if="attribute === 'email' && tableAttributes[attribute]" label="Email">
              <b-input @input="onEmailInput"></b-input>
            </b-field>
            <b-field
              v-if="attribute === 'created_date' && tableAttributes[attribute]"
              label="Created Date"
            >
              <b-input @input="onCreatedDateInput"></b-input>
            </b-field>
            <b-field
              v-if="attribute === 'updated_date' && tableAttributes[attribute]"
              label="Updated Date"
            >
              <b-input @input="onUpdatedDateInput"></b-input>
            </b-field>
            <b-field
              v-if="attribute === 'parent_type' && tableAttributes[attribute]"
              label="Parent Type"
            >
              <b-input @input="onParentTypeInput"></b-input>
            </b-field>
            <b-field
              v-if="attribute === 'delegate_type' && tableAttributes[attribute]"
              label="Delegate Type"
            >
              <b-input @input="onDelegateTypeInput"></b-input>
            </b-field>
            <b-field v-if="attribute === 'avatar' && tableAttributes[attribute]" label="Avatar">
              <b-input @input="onAvatarInput"></b-input>
            </b-field>
          </div>

          <div class="tile is-child is-12">
            <b-field>
              <button class="button is-black is-medium is-fullwidth" type="submit">
                <span>
                  <b-icon icon="magnify" size="is-small"></b-icon>
                  <span class="is-size-5">search</span>
                </span>
              </button>
            </b-field>
          </div>
          <div class="tile is-child is-12">
            <b-field>
              <button class="button is-danger is-medium is-fullwidth" type="reset">
                <span>
                  <b-icon icon="delete" size="is-small"></b-icon>
                  <span class="is-size-5">discard</span>
                </span>
              </button>
            </b-field>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import httpStatus from 'http-status';
import { TABLE_ATTRIBUTES_FILTER } from '~/config/config';

export default {
  name: 'SearchParentsTableForm',
  computed: {
    getTable() {
      return this.$store.getters.getTable;
    }
  },
  data() {
    return {
      parent: {
        first_name: null,
        last_name: null,
        other_names: null,
        primary_contact: null,
        secondary_contact: null,
        email: null,
        created_date: null,
        updated_date: null,
        parent_type: null,
        delegate_type: null,
        avatar: null
      },
      tableAttributes: this.filterTableAttributes(),
      searchData: {},
      searchFields: this.getQueryTableAttributes().join(',')
    };
  },
  methods: {
    onFirstnameInput(firstname) {
      this.parent.first_name = firstname;
    },
    onLastnameInput(lastname) {
      this.parent.last_name = lastname;
    },
    onOthernamesInput(othernames) {
      this.parent.other_names = othernames;
    },
    onPrimaryContactInput(primaryContact) {
      this.parent.primary_contact = primaryContact;
    },
    onSecondaryContactInput(secondaryContact) {
      this.parent.secondary_contact = secondaryContact;
    },
    onEmailInput(email) {
      this.parent.email = email;
    },
    onCreatedDateInput(createdDate) {
      this.parent.created_date = createdDate;
    },
    onUpdatedDateInput(updatedDate) {
      this.parent.updated_date = updatedDate;
    },
    onParentTypeInput(parentType) {
      this.parent.parent_type = parentType;
    },
    onDelegateTypeInput(delegateType) {
      this.parent.delegate_type = delegateType;
    },
    onAvatarInput(avatar) {
      this.parent.avatar = avatar;
    },
    getTableAttributes() {
      let table = this.$store.getters.getTable;
      return table.data.table_attributes || [];
    },
    getQueryTableAttributes() {
      return this.$store.getters.queryTableAttributes || [];
    },
    filterTableAttributes() {
      let tableAttributes = this.getTableAttributes();
      let queryTableAttributes = this.getQueryTableAttributes();
      let tableAttributesFilter = this.getTableAttributesFilter();
      let tableAttributesObj = {};

      for (let attribute of tableAttributes) {
        tableAttributesObj[attribute] = !tableAttributesFilter.includes(
          attribute
        )
          ? true
          : false;
      }

      if (queryTableAttributes && queryTableAttributes.length) {
        for (let attribute of tableAttributes) {
          if (!queryTableAttributes.includes(attribute)) {
            tableAttributesObj[attribute] = false;
          }
        }
      }

      return tableAttributesObj;
    },
    getTableAttributesFilter() {
      let getTable = this.$store.getters.getTable;
      let tableAttributesFilter = [];

      if (getTable) {
        tableAttributesFilter = TABLE_ATTRIBUTES_FILTER[getTable.data.table];
      }

      return tableAttributesFilter;
    },
    async onSearchParents() {
      let getTable = this.$store.getters.getTable;

      let searchTablePayload = {
        data: {
          table: getTable.data.table,
          fields: this.searchFields
        }
      };

      for (let property of Object.keys(this.parent)) {
        if (this.parent[property]) {
          this.searchData[property] = this.parent[property];
        }
      }

      searchTablePayload.data.data = Object.assign({}, this.searchData);

      await this.$store
        .dispatch('searchTable', searchTablePayload)
        .then(() => {
          this.$store.commit(
            'SET_FILTEREDTABLEATTRIBUTES',
            this.tableAttributes
          );

          this.$snackbar.open({
            message: `searching ${getTable.data.table}...`,
            type: 'is-success',
            position: 'is-bottom-right'
          });
        })
        .catch(error => {
          console.error(error);

          this.$store.commit('SET_FILTEREDTABLEATTRIBUTES', null);

          let { response } = error;

          if (response) {
            switch (response.status) {
              case httpStatus.BAD_REQUEST:
              case httpStatus.INTERNAL_SERVER_ERROR:
              case httpStatus.UNAUTHORIZED:
                this.$snackbar.open({
                  duration: 1000,
                  type: 'is-danger',
                  position: 'is-bottom-right',
                  message: `${response.data.data.message}`
                });
                break;
            }
          }
        });
    },
    onDiscardParentsSearch() {
      this.searchData = {};
      Object.keys(this.parent).forEach(property => {
        this.parent[property] = null;
      });
      this.$store.commit('SET_SEARCHTABLE', null);
    }
  }
};
</script>

<style>
</style>
