<template>
  <div class="tile is-student is-vertical is-12">
    <div class="tile is-child is-12">
      <div class="has-text-centered is-size-1 has-text-black">
        <span class="is-lowercase">search students...</span>
      </div>
    </div>
    <div class="tile is-child is-12" v-if="!getTable">
      <div class="has-text-centered is-fullwidth">
        <span class="is-large">Loading...</span>
      </div>
    </div>
    <div class="tile is-child is-12" v-else>
      <form @submit.prevent="onSearchStudents" @reset="onDiscardStudentsSearch">
        <div class="tile is-parent is-vertical is-12">
          <div
            v-for="(attribute, index) of Object.keys(tableAttributes).filter(attribute => !attribute.match(/_?id$/g))"
            :key="index"
            class="tile is-child is-12"
            v-show="tableAttributes[attribute]"
          >
            <b-field
              v-if="attribute === 'first_name' && tableAttributes[attribute]"
              label="First Name"
            >
              <b-input @input="onFirstnameInput"></b-input>
            </b-field>
            <b-field
              v-if="attribute === 'last_name' && tableAttributes[attribute]"
              label="Last Name"
            >
              <b-input @input="onLastnameInput"></b-input>
            </b-field>
            <b-field
              v-if="attribute === 'other_names' && tableAttributes[attribute]"
              label="Other Names"
            >
              <b-input @input="onOthernamesInput"></b-input>
            </b-field>
            <b-field
              v-if="attribute === 'last_pickup_datetime' && tableAttributes[attribute]"
              label="Last Pickup Datetime"
            >
              <b-input @input="onLastPickupDatetimeInput"></b-input>
            </b-field>
            <b-field
              v-if="attribute === 'last_pickup_delegate' && tableAttributes[attribute]"
              label="Last Pickup Delegate"
            >
              <b-input @input="onLastPickupDelegateInput"></b-input>
            </b-field>
            <b-field
              v-if="attribute === 'last_drop_off_datetime' && tableAttributes[attribute]"
              label="Last Drop Off Datetime"
            >
              <b-input @input="onLastDropOffDatetimeInput"></b-input>
            </b-field>
            <b-field
              v-if="attribute === 'last_drop_off_delegate' && tableAttributes[attribute]"
              label="Last Drop Off Delegate"
            >
              <b-input @input="onLastDropOffDelegateInput"></b-input>
            </b-field>
            <b-field v-if="attribute === 'dob' && tableAttributes[attribute]" label="Date Of Birth">
              <b-input @input="onDateOfBirthInput"></b-input>
            </b-field>
            <b-field v-if="attribute === 'gender' && tableAttributes[attribute]" label="Gender">
              <b-input @input="onGenderInput"></b-input>
            </b-field>
            <b-field
              v-if="attribute === 'bloodgroup' && tableAttributes[attribute]"
              label="Blood Group"
            >
              <b-input @input="onBloodGroupInput"></b-input>
            </b-field>
            <b-field
              v-if="attribute === 'nationality' && tableAttributes[attribute]"
              label="Nationality"
            >
              <b-input @input="onNationalityInput"></b-input>
            </b-field>
            <b-field v-if="attribute === 'avatar' && tableAttributes[attribute]" label="Avatar">
              <b-input @input="onAvatarInput"></b-input>
            </b-field>
            <b-field
              v-if="attribute === 'created_date' && tableAttributes[attribute]"
              label="Created Date"
            >
              <b-input @input="onCreatedDateInput"></b-input>
            </b-field>
            <b-field
              v-if="attribute === 'updated_date' && tableAttributes[attribute]"
              label="Updated Date"
            >
              <b-input @input="onUpdatedDateInput"></b-input>
            </b-field>
            <b-field v-if="attribute === 'status' && tableAttributes[attribute]" label="Status">
              <b-input @input="onStatusInput"></b-input>
            </b-field>
            <b-field
              v-if="attribute === 'student_number' && tableAttributes[attribute]"
              label="Student Number"
            >
              <b-input @input="onStudentNumberInput"></b-input>
            </b-field>
            <b-field
              v-if="attribute === 'delegate_ref_key' && tableAttributes[attribute]"
              label="Delegate Reference Key"
            >
              <b-input @input="onDelegateRefKeyInput"></b-input>
            </b-field>
          </div>

          <div class="tile is-child is-12">
            <b-field>
              <button class="button is-black is-medium is-fullwidth" type="submit">
                <span>
                  <b-icon icon="magnify" size="is-small"></b-icon>
                  <span class="is-size-5">search</span>
                </span>
              </button>
            </b-field>
          </div>
          <div class="tile is-child is-12">
            <b-field>
              <button class="button is-danger is-medium is-fullwidth" type="reset">
                <span>
                  <b-icon icon="delete" size="is-small"></b-icon>
                  <span class="is-size-5">discard</span>
                </span>
              </button>
            </b-field>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import httpStatus from 'http-status';
import { removeSchema } from '~/utils/utils';
import { TABLE_ATTRIBUTES_FILTER } from '~/config/config';

export default {
  name: 'SearchStudentsTableForm',
  computed: {
    getTable() {
      return this.$store.getters.getTable;
    }
  },
  data() {
    return {
      student: {
        first_name: null,
        last_name: null,
        other_names: null,
        last_pickup_datetime: null,
        last_pickup_delegate: null,
        last_drop_off_datetime: null,
        last_drop_off_delegate: null,
        dob: null,
        gender: null,
        bloodgroup: null,
        nationality: null,
        avatar: null,
        created_date: null,
        updated_date: null,
        status: null,
        student_number: null,
        delegate_ref_key: null
      },
      tableAttributes: this.filterTableAttributes(),
      searchData: {},
      searchFields: this.getQueryTableAttributes().join(',')
    };
  },
  methods: {
    onFirstnameInput(firstname) {
      this.student.first_name = firstname;
    },
    onLastnameInput(lastname) {
      this.student.last_name = lastname;
    },
    onOthernamesInput(othernames) {
      this.student.other_names = othernames;
    },
    onLastPickupDatetimeInput(lastPickupDatetime) {
      this.student.last_pickup_datetime = lastPickupDatetime;
    },
    onLastPickupDelegateInput(lastPickupDelegate) {
      this.student.last_pickup_delegate = lastPickupDelegate;
    },
    onLastDropOffDatetimeInput(lastDropOffDatetime) {
      this.student.last_drop_off_datetime = lastDropOffDatetime;
    },
    onLastDropOffDelegateInput(lastDropOffDelegate) {
      this.student.last_drop_off_delegate = lastDropOffDelegate;
    },
    onDateOfBirthInput(dateOfBirth) {
      this.student.dob = dateOfBirth;
    },
    onGenderInput(gender) {
      this.student.gender = gender;
    },
    onBloodGroupInput(bloodGroup) {
      this.student.bloodgroup = bloodGroup;
    },
    onNationalityInput(nationality) {
      this.student.nationality = nationality;
    },
    onAvatarInput(avatar) {
      this.student.avatar = avatar;
    },
    onCreatedDateInput(createdDate) {
      this.student.created_date = createdDate;
    },
    onUpdatedDateInput(updatedDate) {
      this.student.updated_date = updatedDate;
    },
    onStatusInput(status) {
      this.student.status = status;
    },
    onStudentNumberInput(studentNumber) {
      this.student.student_number = studentNumber;
    },
    onDelegateRefKeyInput(delegateRefKey) {
      this.student.delegate_ref_key = delegateRefKey;
    },
    getTableAttributes() {
      let getTable = this.$store.getters.getTable;
      return getTable.data.table_attributes || [];
    },
    getQueryTableAttributes() {
      return this.$store.getters.queryTableAttributes || [];
    },
    filterTableAttributes() {
      let tableAttributes = this.getTableAttributes();
      let queryTableAttributes = this.getQueryTableAttributes();
      let tableAttributesFilter = this.getTableAttributesFilter();
      let tableAttributesObj = {};

      for (let attribute of tableAttributes) {
        tableAttributesObj[attribute] = !tableAttributesFilter.includes(
          attribute
        )
          ? true
          : false;
      }

      if (queryTableAttributes && queryTableAttributes.length) {
        for (let attribute of tableAttributes) {
          if (!queryTableAttributes.includes(attribute)) {
            tableAttributesObj[attribute] = false;
          }
        }
      }

      return tableAttributesObj;
    },
    getTableAttributesFilter() {
      let getTable = this.$store.getters.getTable;
      let tableAttributesFilter = [];

      if (getTable) {
        tableAttributesFilter = TABLE_ATTRIBUTES_FILTER[getTable.data.table];
      }

      return tableAttributesFilter;
    },
    async onSearchStudents() {
      let getTable = this.$store.getters.getTable;

      let searchTablePayload = {
        data: {
          table: getTable.data.table,
          fields: this.searchFields
        }
      };

      for (let property of Object.keys(this.student)) {
        if (this.student[property]) {
          this.searchData[property] = this.student[property];
        }
      }

      searchTablePayload.data.data = Object.assign({}, this.searchData);

      await this.$store
        .dispatch('searchTable', searchTablePayload)
        .then(() => {
          this.$store.commit(
            'SET_FILTEREDTABLEATTRIBUTES',
            this.tableAttributes
          );

          this.$snackbar.open({
            message: `searching ${removeSchema(getTable.data.table)}...`,
            type: 'is-success',
            position: 'is-bottom-right'
          });
        })
        .catch(error => {
          console.error(error);

          this.$store.commit('SET_FILTEREDTABLEATTRIBUTES', null);

          let { response } = error;

          if (response) {
            switch (response.status) {
              case httpStatus.BAD_REQUEST:
              case httpStatus.UNAUTHORIZED:
              case httpStatus.INTERNAL_SERVER_ERROR:
                this.$snackbar.open({
                  duration: 1000,
                  type: 'is-danger',
                  position: 'is-bottom-right',
                  message: `${response.data.data.message}`
                });
                break;
            }
          }
        });
    },
    onDiscardStudentsSearch() {
      this.searchData = {};
      Object.keys(this.student).forEach(property => {
        this.student[property] = null;
      });
      this.$store.commit('SET_SEARCHTABLE', null);
    }
  }
};
</script>

<style>
</style>
