<template>
  <div class="tile is-parent is-12">
    <div class="tile is-child is-12">
      <div class="box is-fullwidth">
        <div class="content" :style="style">
          <search-table-results-placeholder v-if="!searchTable"></search-table-results-placeholder>
          <search-table-rows-to-delete-form v-else></search-table-rows-to-delete-form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SearchTableResultsPlaceholder from '~/components/search-table/SearchTableResultsPlaceholder.vue';
import SearchTableRowsToDeleteForm from '~/components/search-table/SearchTableRowsToDeleteForm.vue';

export default {
  name: 'SearchTableResults',
  components: {
    SearchTableResultsPlaceholder,
    SearchTableRowsToDeleteForm
  },
  computed: {
    searchTable() {
      return this.$store.getters.searchTable;
    }
  },
  data() {
    return {
      style: { height: 'auto' }
    };
  }
};
</script>

<style>
</style>
