<template>
  <div class="section">
    <div class="container">
      <search-table-form></search-table-form>
    </div>
  </div>
</template>

<script>
import SearchTableForm from '~/components/search-table/SearchTableForm.vue';

export default {
  name: 'SearchTableFormSection',
  components: {
    SearchTableForm
  }
};
</script>

<style>
</style>
