<template>
  <div>
    <home-header></home-header>
    <home-main></home-main>
    <home-footer></home-footer>
  </div>
</template>

<script>
import HomeHeader from '~/components/home/HomeHeader.vue'
import HomeMain from '~/components/home/HomeMain.vue'
import HomeFooter from '~/components/home/HomeFooter.vue'

export default {
  name: 'HomeApp',
  components: {
    HomeHeader,
    HomeMain,
    HomeFooter
  }
}
</script>

<style>
</style>
