<template>
  <main class="container is-fluid" :style="style">
    <nuxt/>
  </main>
</template>

<script>
export default {
  name: 'HomeMain',
  data() {
    return {
      style: {}
    };
  }
};
</script>

<style>
</style>
