<template>
  <home-app></home-app>
</template>

<script>
import HomeApp from '~/components/home/HomeApp.vue'

export default {
  name: 'HomeLayout',
  components: {
    HomeApp
  }
}
</script>

<style>
</style>
