<template>
  <nav class="navbar has-background-info" role="navigation" aria-label="main navigation">
    <div class="container is-fluid">
      <div class="navbar-brand">
        <a class="navbar-item" @click.stop="onGoHome">
          <img
            src="https://minex360.com/static/media/minex-logo.d7d5ce0e.svg"
            width="112"
            height="28"
          >
        </a>
        <a
          role="button"
          :class="navbarBurgerClass"
          aria-label="menu"
          aria-expanded="false"
          data-target="mobileNavigationDrawer"
          @click="onClickNavbarBurger"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="mobileNavigationDrawer" :class="navbarBurgerMenuClass">
        <div class="navbar-start">
          <a role="button" @click.stop="onGoHome" class="navbar-item">
            <span class="has-text-black is-uppercase">SMARTSAPP FILTER SERVICES</span>
          </a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <div class="control">
                <a role="button" class="button is-success" @click.stop="onGoHome">
                  <b-icon icon="home"></b-icon>
                  <span>Home</span>
                </a>
              </div>
              <div class="control">
                <a role="button" class="button is-danger" @click.stop="onSignOut">
                  <b-icon icon="exit-to-app"></b-icon>
                  <span>Sign Out</span>
                </a>
              </div>
              <div class="control">
                <a role="button" class="button is-black">
                  <b-icon icon="account-circle"></b-icon>
                  <span>{{ username }}</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
import routes from '~/config/routes';

export default {
  name: 'HomeHeader',
  data() {
    return {
      navbarBurgerClass: ['navbar-burger', 'burger'],
      navbarBurgerMenuClass: ['navbar-menu'],
      isNavbarBurgerClicked: false,
      home_route: routes.GET_TABLE,
      signout_route: routes.SIGN_OUT
    };
  },
  computed: {
    username() {
      return this.getUsername();
    }
  },
  methods: {
    onClickNavbarBurger() {
      let className = 'is-active';

      this.isNavbarBurgerClicked = !this.isNavbarBurgerClicked;

      if (this.isNavbarBurgerClicked) {
        this.navbarBurgerClass.push(className);
        this.navbarBurgerMenuClass.push(className);
      } else {
        this.navbarBurgerClass.pop();
        this.navbarBurgerMenuClass.pop();
      }
    },
    onGoHome() {
      return this.$router.replace({ path: routes.GET_TABLE });
    },
    onSignOut() {
      return this.$router.push({ path: routes.SIGN_OUT });
    },
    getLoggedUser() {
      return this.$store.getters.loggedUser;
    },
    getUsername() {
      let loggedUser = this.getLoggedUser();
      let username = '';

      if (loggedUser) {
        username = loggedUser.data.fullName;
      }

      return username;
    }
  }
};
</script>

<style>
</style>
