<template>
  <div class="tile is-ancestor" style="height: inherit">
    <div class="tile is-parent is-vertical is-12">
      <div class="is-child is-12" style="height: 200px;"></div>
      <div class="is-child is-12 has-text-centered">
        <div>
          <b-icon :icon="icon" size="is-large"></b-icon>
        </div>

        <div class="subtitle is-3 is-capitalized">
          <slot name="default"></slot>
        </div>
      </div>
      <div class="is-child is-12" style="height: 200px;"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ResultsPlaceholder',
  props: ['icon']
};
</script>

<style>
</style>
