<template>
  <footer class="footer" style="height: 20vh;">
    <div class="container is-fluid">
      <div class="content has-text-centered">
        <span>&copy;{{ year }} Minex 360 Group Ltd</span>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'AppFooter',
  data() {
    return {
      year: new Date().getFullYear()
    };
  }
};
</script>

<style>
</style>
