<template>
  <home-layout></home-layout>
</template>

<script>
import HomeLayout from '~/components/home/HomeLayout.vue'

export default {
  name: 'home',
  components: {
    HomeLayout
  }
}
</script>

<style>
</style>
