<template>
  <get-table-app></get-table-app>
</template>

<script>
import GetTableApp from '~/components/get-table/GetTableApp.vue';

import { APPLICATION_NAME } from '~/config/config';

export default {
  name: 'gettable',
  layout: 'home',
  middleware: ['get-table'],
  components: {
    GetTableApp
  },
  async fetch({ store, redirect, app, query }) {
    let getTablesPayload = {};

    await store
      .dispatch('getTables', getTablesPayload)
      .then(() => {
        let tables = store.getters.getTables;

        if (tables && Object.keys(tables).length) {
          store.commit('SET_GETTABLES', tables);
        } else {
          store.commit('SET_GETTABLES', null);
        }
      })
      .catch(error => {
        console.error(error);
      });
  },
  head: {
    title: `Get Table - ${APPLICATION_NAME}`
  }
};
</script>

<style>
</style>
