<template>
  <search-table-app></search-table-app>
</template>

<script>
import SearchTableApp from '~/components/search-table/SearchTableApp.vue';

import { APPLICATION_NAME } from '~/config/config';

export default {
  name: 'searchtable',
  layout: 'home',
  middleware: ['search-table'],
  components: {
    SearchTableApp
  },
  head: {
    title: `Search Table - ${APPLICATION_NAME}`
  }
};
</script>

<style>
</style>
