<template>
  <signin-app></signin-app>
</template>

<script>
import SigninApp from '~/components/sign-in/SigninApp.vue';

import { APPLICATION_NAME } from '~/config/config';

export default {
  name: 'signin',
  components: {
    SigninApp
  },
  head: {
    title: `Sign In - ${APPLICATION_NAME}`
  }
};
</script>

<style>
</style>
