<template>
  <results-placeholder icon="bed-empty">No Service Selected</results-placeholder>
</template>

<script>
import ResultsPlaceholder from '~/components/common/ResultsPlaceholder.vue';

export default {
  name: 'GetTableResultsPlaceholder',
  components: {
    ResultsPlaceholder
  }
};
</script>

<style>
</style>
