<template>
  <div class="tile is-parent is-12">
    <div class="tile is-child is-12">
      <div class="box is-fullwidth">
        <div class="content" :style="style">
          <get-table-results-placeholder v-if="!getTable"></get-table-results-placeholder>
          <get-table-query-filter-form v-else></get-table-query-filter-form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import GetTableResultsPlaceholder from '~/components/get-table/GetTableResultsPlaceholder.vue';
import GetTableQueryFilterForm from '~/components/get-table/GetTableQueryFilterForm.vue';

export default {
  name: 'GetTableResults',
  components: {
    GetTableResultsPlaceholder,
    GetTableQueryFilterForm
  },
  computed: {
    getTable() {
      return this.$store.getters.getTable;
    }
  },
  data() {
    return {
      style: 'height: auto'
    };
  }
};
</script>

<style scoped>
</style>
