<template>
  <section class="section">
    <div class="container">
      <div class="tile is-ancestor">
        <get-table-form></get-table-form>
      </div>
    </div>
  </section>
</template>

<script>
import GetTableForm from '~/components/get-table/GetTableForm.vue';

export default {
  name: 'GetTableFormSection',
  components: {
    GetTableForm
  }
};
</script>

<style>
</style>
