<template>
  <article>
    <div class="tile is-ancestor" style="height: inherit">
      <div class="tile is-parent is-12">
        <div class="tile is-child is-12">
          <div class="content has-text-centered">
            <div class="title is-3">{{ removeDashes(removeSchema(getTable.data.table)) }}</div>
            <div class="subtitle is-6">{{ heading }}</div>
          </div>
        </div>
      </div>
    </div>

    <div style="height: 20px;"></div>

    <form @submit.prevent="onBuildQueryFilter" @reset="onDiscardQueryFilter">
      <div tile="tile is-ancestor is-12">
        <div
          v-for="(attributes, rowIndex) of getBatchedTableAttributes(tableAttributes, Math.ceil(tableAttributes.length / cols), cols)"
          :key="rowIndex"
          class="tile is-parent is-12"
        >
          <div
            v-for="(attribute, colIndex) of attributes"
            :key="colIndex"
            :class="`tile is-child is-${Math.ceil(columns / cols)}`"
          >
            <b-field>
              <b-checkbox
                v-model="queryTableAttributes"
                :native-value="attribute"
              >{{ capitalize(removeDashes(attribute)) }}</b-checkbox>
            </b-field>
          </div>
        </div>
      </div>

      <div style="height: 20px;"></div>

      <div class="tile is-parent is-12 is-vertical">
        <div class="tile is-child is-12">
          <button type="submit" class="button is-fullwidth is-black is-medium">
            <span>
              <b-icon icon="wrench" size="is-small"></b-icon>
              <span class="is-size-5">build</span>
            </span>
          </button>
        </div>
        <div class="tile is-child is-12">
          <button type="reset" class="button is-fullwidth is-danger is-medium">
            <span>
              <b-icon icon="delete" size="is-small"></b-icon>
              <span class="is-size-5">discard</span>
            </span>
          </button>
        </div>
      </div>
    </form>
  </article>
</template>

<script>
import {
  batchCollection,
  removeSchema,
  removeDashes,
  capitalize
} from '~/utils/utils';
import { TABLE_FORMS, TABLE_ATTRIBUTES_FILTER } from '~/config/config';

import routes from '~/config/routes';

export default {
  name: 'GetTableQueryFilterForm',
  computed: {
    getTable() {
      return this.$store.getters.getTable;
    },
    tableAttributes() {
      return this.getTableAttributes();
    }
  },
  data() {
    return {
      heading: 'Build search by selecting any fields below:',
      queryTableAttributes: [],
      cols: 3,
      rows: 6,
      columns: 12
    };
  },
  methods: {
    getTableAttributes() {
      let getTable = this.$store.getters.getTable;
      let tableAttributes = [];

      this.queryTableAttributes = [];

      if (getTable) {
        let tableAttributesFilter =
          TABLE_ATTRIBUTES_FILTER[getTable.data.table] || [];

        getTable.data.table_attributes
          .filter(attribute => !attribute.match(/_?id$/gi))
          .filter(attribute => !tableAttributesFilter.includes(attribute))
          .forEach(attribute => tableAttributes.push(attribute));

        tableAttributes.sort();
      }

      return tableAttributes;
    },
    getBatchedTableAttributes(tableAttributes = [], rows = 1, cols = 1) {
      return batchCollection(tableAttributes, rows, cols);
    },
    removeSchema(table) {
      return removeSchema(table);
    },
    removeDashes(attribute) {
      return removeDashes(attribute);
    },
    capitalize(attribute) {
      return capitalize(attribute);
    },
    onBuildQueryFilter() {
      let getTable = this.$store.getters.getTable;
      let tableName = getTable.data.table;

      if (!TABLE_FORMS.includes(tableName)) {
        this.$snackbar.open({
          duration: 1000,
          message: `${this.removeDashes(
            this.removeSchema(tableName)
          )} service has no form yet. Please try later.`,
          type: 'is-danger',
          position: 'is-bottom-right'
        });

        return;
      }

      this.$store.commit(
        'SET_QUERYTABLEATTRIBUTES',
        this.queryTableAttributes.slice()
      );

      this.$store.commit('SET_GETTABLE', getTable);
      window.localStorage.setItem('getTable', JSON.stringify(getTable));

      return this.$router.push({ path: routes.SEARCH_TABLE });
    },
    onDiscardQueryFilter() {
      this.queryTableAttributes = [];
    }
  }
};
</script>

<style>
</style>
