<template>
  <div class="tile is-parent is-vertical is-12">
    <div class="tile is-child is-12">
      <div class="has-text-centered is-size-1 has-text-black">
        <span class="is-lowercase">please choose service...</span>
      </div>
    </div>
    <div class="tile is-child is-12">
      <form @submit.prevent="onGetTable" @reset="onDiscard">
        <b-field>
          <b-select
            expanded
            size="is-large"
            :placeholder="selectPlaceholder"
            v-model="selectedTable"
          >
            <option
              v-for="(table, index) of tables.filter(table => getTablesFilter.includes(table))"
              :key="index"
              :value="table"
            >{{ removeDashes(removeSchema(table)) }}</option>
          </b-select>
        </b-field>
        <b-field></b-field>
        <b-field>
          <button class="button is-black is-medium is-fullwidth" type="submit">
            <span>
              <b-icon icon="download" size="is-small"></b-icon>
              <span class="is-size-5">get</span>
            </span>
          </button>
        </b-field>
        <b-field></b-field>
        <b-field>
          <button class="button is-danger is-medium is-fullwidth" type="reset">
            <span>
              <b-icon icon="delete" size="is-small"></b-icon>
              <span class="is-size-5">discard</span>
            </span>
          </button>
        </b-field>
      </form>
    </div>
  </div>
</template>

<script>
import routes from '~/config/routes';
import { GET_TABLES_FILTER } from '~/config/config';
import utils from '~/utils/utils';
import httpStatus from 'http-status';

export default {
  name: 'GetTableForm',
  data() {
    return {
      selectedTable: null,
      selectPlaceholder: 'select a service',
      getTablesFilter: GET_TABLES_FILTER
    };
  },
  computed: {
    tables() {
      return this.getTables();
    }
  },
  methods: {
    getGetTables() {
      return this.$store.getters.getTables;
    },
    getTables() {
      let getTables = this.getGetTables();
      let tables = [];

      if (getTables) {
        tables = getTables.data.tables.slice();
      }

      return tables;
    },
    removeSchema(table) {
      return utils.removeSchema(table);
    },
    removeDashes(table) {
      return utils.removeDashes(table);
    },
    async onGetTable() {
      if (!this.selectedTable) {
        this.$snackbar.open({
          duration: 2000,
          message: `No service selected.`,
          type: 'is-danger'
        });

        return;
      }

      let table = {
        table: this.selectedTable
      };

      let getTablePayload = { data: table };

      await this.$store
        .dispatch('getTable', getTablePayload)
        .then(() => {
          let getTable = this.$store.getters.getTable;

          if (getTable) {
            let tableName = getTable.data.table;

            this.$snackbar.open({
              duration: 1000,
              message: `${this.removeDashes(
                this.removeSchema(tableName)
              )} service selected`,
              type: 'is-success',
              position: 'is-bottom-right'
            });
          } else return this.$router.replace({ path: routes.GET_TABLE });
        })
        .catch(error => {
          console.error(error);

          let { response } = error;

          if (response) {
            switch (response.status) {
              case httpStatus.INTERNAL_SERVER_ERROR:
              case httpStatus.BAD_REQUEST:
              case httpStatus.UNAUTHORIZED:
                this.$snackbar.open({
                  duration: 1000,
                  message: `${response.data.data.message}`,
                  type: 'is-danger',
                  position: 'is-bottom-right'
                });
                break;
            }
          }
        });
    },
    onDiscard() {
      this.selectedTable = null;
      this.$store.commit('SET_GETTABLE', null);
    }
  }
};
</script>

<style>
</style>
