<template>
  <section class="section">
    <div class="container">
      <div class="tile is-ancestor">
        <get-table-results></get-table-results>
      </div>
    </div>
  </section>
</template>

<script>
import GetTableResults from '~/components/get-table/GetTableResults.vue';

export default {
  name: 'GetTableResultsSection',
  components: {
    GetTableResults
  }
};
</script>

<style>
</style>
