<template>
  <div class="container is-fluid">
    <get-table-form-section></get-table-form-section>
    <get-table-results-section></get-table-results-section>
  </div>
</template>

<script>
import GetTableFormSection from '~/components/get-table/GetTableFormSection.vue'
import GetTableResultsSection from '~/components/get-table/GetTableResultsSection.vue'

export default {
  name: 'GetTableApp',
  components: {
    GetTableFormSection,
    GetTableResultsSection
  }
}
</script>

<style>
</style>
